/*this is specifically the css for the homepage sophie dont mix it up*/
table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    width: 100%;
    height: 70px;
    border-collapse: collapse;
}

th, td {
    padding: 1ex;
}
tr:nth-child(odd) {
    background-color:lavender;
}
tr:nth-child(even) {
    background-color:cornsilk;
}
caption {
    font-size: xx-large;
    font: weight 800px;
    color: deeppink;
}
@media screen and (max-width:500px) {
    body {
        width: 400px;
    }
    
}