table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    width: 100%;
    height: 70px;
    border-width: medium;
}
th {
    color:deeppink;
    font-size: medium;
    text-align: center;
}
th, td {
    padding: .75ex;
}
tr:nth-child(odd) {
    background-color:lavender;
}
tr:nth-child(even) {
    background-color:cornsilk;
}
caption {
    font-size: xx-large;
    font-weight:lighter;
    color: black;
}
#container {
    width: 800px; 
    margin: 0 auto; 
    padding:30px;
}
@media screen and (max-width:500px) {
    body {
        width: 400px;
    }